.projects {
  color: var(--color-dark);
  width: -moz-fit-content;
  width: fit-content;
  &__heading {
    text-align: center;
    font-family: $primary-font;
    color: var(--color-light);
    // font-size: var(--heading);
    margin: 0.5rem auto;
    @include Neon(--color-light);
    @media screen and (min-width: $maxSmallScreen) {
      // font-size: calc(var(--heading) * 1.2);
      margin: 0 auto;
    }
  }
  @media screen and (min-width: $maxSmallScreen) {
    width: min-content;
    margin: 0 auto;
  }
  @media screen and (min-width: ($minMediumScreen+100)) {
    // width: 60vw;
    // max-width: 70vw;
  }
}
.projects__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(2vh, 1fr);
  align-items: center;
  justify-items: center;
  // justify-content: start;
  margin: 2rem;

  @media screen and (min-width: $minMediumScreen) {
    font-size: 1.1em;
    display: grid;
    margin: 0.5em;
    justify-content: center;
    @media screen and (min-width: ($minMediumScreen+200)) {
      justify-content: end;
    }
    & > * {
      grid-row: span 2;
    }
    & > :nth-child(2) {
      grid-row: 2/4;
      grid-column-end: -1;
    }
    .project__image {
      font-size: 1.4em;
    }
  }
}
.project {
  height: fit-content;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 1px var(--color-secondary);
  border-radius: 5px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: $primary-font;
  text-align: center;
  transition: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
  & > * {
    margin: 0;
  }
  &__title {
    text-align: center;
    color: var(--color-secondary);
    font-size: 2em;
    font-family: 800;
  }
  &__link {
    color: rgba(var(--code-dark), 0.6);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(var(--code-dark), 0.6);
  }
  &__link-repo {
    width: 100%;
    display: flex;
    align-items: center;
    // text-align: left;
    justify-content: center;
    &::after {
      content: "Visit Repository";
      text-decoration: none;
      color: rgba(var(--code-dark), 0.6);
      font-weight: 700;
      text-decoration: underline;
      text-decoration-color: rgba(var(--code-dark), 0.6);
      text-decoration-thickness: 1.5px;
    }
    img {
      // width: 100%;
      width: 30px;
      margin-right: 0.5em;
    }
  }
  &__description {
    font-weight: 600;
    color: var(--color-secondary);
    font-weight: 700;
    font-style: italic;
    margin: 2%;
    font-size: 1.1em;
    line-height: 1;
    // This is what prevent min-content from crushing the content
    min-width: 20rem;
  }
  &__image {
    width: 12em;
    height: 12em;
    margin: 0 auto;
    border-radius: 0.5em;
    border: 2px solid rgba(var(--code-dark), 0.6);
    // object-fit: cover;

    overflow: hidden;
    @include centerFlex;
    // @include clickable();
    img {
      height: 130%;
      transition: height;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      &:hover {
        height: 100%;
      }
    }
  }
  &__icon {
    width: 3em;
  }
  a:has(.project__icon) {
    @include absolute();
    right: 0;
    margin-left: auto;
    // background-color: var(--color-secondary);
    // box-shadow: 0 0 5px 0 gray;
    filter: drop-shadow(0 0 1px rgba(49, 49, 49, 0.514));
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 50%;
    margin-top: 0.3em;
    margin-right: 0.3em;
    object-fit: cover;
  }
  &__technologies {
    background-color: var(--color-secondary);
    text-align: center;
    color: var(--color-light);
    // width: auto;
    padding: 0.125em 0.2em;
    margin: 0.2rem 15%;
  }
  &__technologies-list {
    @include resetList();
    overflow-x: auto;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 2%;
  }
}
.technology {
  width: 40px;
}
