:root {
  // Purple like color
  // --code-primary: 58, 41, 145;
  --color-primary: rgb(158, 219, 235);
  // Blue like color
  --code-secondary: 34, 86, 160;
  --color-secondary: #bb2284;
  --color-blue-dark: #080030;

  --code-blue-light: 0, 51, 123;
  --color-blue-light: #00337b;

  --color-light: rgba(255, 255, 255, 0.82);
  --code-light: 255, 255, 255;
  --color-dark: rgb(22, 22, 22);
  --code-dark: 22, 22, 22;

  // --code-gray: #d2cbe6;
  // --color-theme: white;
}
