$primary-font: Nunito;
$secondary-font: futura;
@include embed-font($primary-font, "./static/Nunito-VariableFont_wght.ttf");
@include embed-font($secondary-font, "./static/futura light bt.ttf");

#hello {
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: 800;
  font-stretch: extra-expanded;
}
// @font-face {
//   font-family: n
//   src: './static/';
//   font-weight: normal;
//   font-style: normal;

//   // font-weight: 400;
//   font-stretch: 100%;
//   // font-variation-settings: "wght" 400, "wdth" 100;
// }
