$primary-font: Nunito;
$secondary-font: futura;
@include embed-font(
  $primary-font,
  "../static/Nunito-VariableFont_wght.woff2",
  $format: "woff2"
);
@include embed-font(
  $secondary-font,
  "../static/futura light bt.woff2",
  $format: "woff2"
);

#hello {
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: 800;
  font-stretch: extra-expanded;
}
