// @use "_globalMixins.scss" as x;
@import "_globalMixins.scss";
@import "fonts.scss";
@import "variables";
@include ImplementBase();
@import "utils";

// Sass Variables
$maxSmallScreen: 600px;
$minMediumScreen: 768px;

@import "../components/Nav/Nav";
@import "../components/Main/Main.scss";
@import "../components/Projects/Projects.scss";
@import "../components/About/About.scss";
@import "../pages/pages.scss";
:root {
  // prefered
  color-scheme: light dark;
}
