$curveDividerUrl: "../static/CurveMain.svg";
.circle-gradient {
  display: none;
  @media screen and (min-width: $minMediumScreen) {
    @include circleGradient();
    position: absolute;
    z-index: 3;
  }
}
.main {
  width: 100%;
  background-size: 105%;
  color: var(--color-white);
  position: relative;
  &__content {
    padding: 0 1em 0 1em;
    padding-top: 5rem;
    padding-bottom: 20vh;
    position: relative;
    z-index: 2;
    height: min-content;
    display: grid;
    grid-template-rows: repeat(2, auto);
    @media screen and (min-width: $maxSmallScreen) {
      padding-bottom: 17vw;
      font-size: 1.3em;
    }
    grid-template-columns: 1fr 1.5fr;
    @media screen and (min-width: $minMediumScreen) {
      grid-template-columns: 1.5fr 1fr;
    }
    .main__info {
      grid-row: 2/3;
      grid-column: 1/3;
      @media screen and (min-width: $minMediumScreen) {
        grid-column: 1/2;
      }
    }
  }
  &__heading {
    align-self: end;
  }
  &__title {
    font-size: 1.2em;
    font-weight: 700;
  }
  &__name {
    font-size: 1.2em;
    font-weight: 700;
    text-wrap: nowrap;
  }
  &__profession {
    color: var(--color-primary);
    @include Neon(--color-primary);
    font-size: 1.5em;
  }
  &__description {
    // font-size: 0.8em;
    // max-width: 85%;
  }
  &__actions {
    & > * {
      margin: 0.5em;
    }
  }

  @media screen and (min-width: $minMediumScreen) {
    font-size: 1.1em;
    .main__cta {
      display: none;
    }
    .ImageBlob {
      grid-row: 1/3;
    }
  }
}
.container-curve {
  @include applyMask($curveDividerUrl, $position: bottom center);
  background-image: linear-gradient(
    45deg,
    var(--color-blue-dark),
    #251577,
    var(--color-blue-light)
  );
  overflow: visible;
}
.ImageBlob {
  width: auto;

  position: relative;

  // }
  img {
    width: 100%;
    z-index: 2;
    position: relative;
  }
}

.main__dividers {
  content: "";
  // z-index: 4;
  @include absolute();
  width: 100%;
  height: 100%;
  & :first-child {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .main__divider:first-child {
    @include absolute();
    width: 100%;
    height: 150%;
    background-color: rgba(var(--code-light), 0.05);
  }
  .main__divider:nth-child(2) {
    @include absolute();
    width: 100%;
    height: 250%;
    background-color: rgba(var(--code-light), 0.05);
  }
  .main__divider {
    @include applyMask($curveDividerUrl, $position: bottom center);
  }
}
