.main {
  padding-top: 3rem;
  min-height: 90vh;
  width: 100%;
  // background-size: 150%;
  background-size: 105%;
  padding: 0.5em;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: var(--color-white);

  border: 2px solid black;
  &__title {
    font-size: 1.2em;
    font-weight: 700;
  }
  &__name {
    font-size: 1.2em;
    font-weight: 700;
    background-color: var(--color-secondary);
    padding: 0.125em 0.3em;
  }
  &__profession {
    color: var(--color-primary);
    font-size: 1.5em;
  }
  &__description {
    font-size: 0.8em;
  }
}
.curveGradient {
  // background-image: linear-gradient(red, yellow);
  background-position: bottom center;
  -webkit-mask-image: url("./static/Blobs/CurveMain.svg");
  mask-image: url("./static/Blobs/CurveMain.svg");
  -webkit-mask-position: bottom center;
  mask-position: bottom center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
    45deg,
    var(--color-blue-dark),
    #251577,
    var(--color-blue-light)
  );
}
.ImageBlob {
  width: max(40%, 10rem);
  height: max(40%, 10rem);
  background-size: 100%;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-30 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%238200d8%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%231571a8%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M750.5 647Q734 794 586 783t-330.5-44Q73 706 120.5 523T307 302q139-38 272-53t160.5 118q27.5 133 11 280Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M750.5 647Q734 794 586 783t-330.5-44Q73 706 120.5 523T307 302q139-38 272-53t160.5 118q27.5 133 11 280Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  object-fit: contain;
  img {
    height: 100%;
  }
}

:has(> .main__heading) {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 30vh;
  align-items: end;
}
