.about {
  &__header-text {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
  }
  padding: 0 1em;
  li > b {
    text-decoration: underline;
  }
}
.about .about-page {
  @media screen and (max-width: $minMediumScreen) {
    padding: 0;
  }
  .content {
    display: block;
    @media screen and (max-width: $minMediumScreen) {
      padding: 0;
    }
  }
  &::before {
    content: none;
  }
  .heading {
    color: var(--color-lights);
    @include Neon(--color-light);
  }
}
