.nav-hide nav {
  // transform: translateY(-100%);
  top: -5rem;
}
nav {
  max-width: 100vw;
  width: 100vw;
  position: fixed;
  height: fit-content;
  z-index: 10;
  top: 0;
  transition: top 0.3s ease-in-out;
}
.nav__content {
  width: auto;
  background-color: rgba(var(--code-blue-light), 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  // border: 1px solid var(--color-blue-dark);
  border: 2px solid transparent;
  border-top: none;
  transition: border-color 100ms linear;
  &:hover {
    border-color: var(--color-blue-light);
  }
  @media screen and (min-width: ($minLargeScreen + 200px)) {
    width: 80%;
    margin: 0 auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  font-family: $secondary-font;
  font-weight: 700;

  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.5rem;
  // font-size: 0.8em;
  // padding: 0;
  .nav__links-container {
    flex-grow: 2;
    overflow: hidden;
    z-index: 2;
    @media screen and (max-width: 640px) {
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      transform: translate(50%, -40%);
      @include circleGradient();
      transition-property: height width;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

  .nav__links-container.open {
    width: 80vw;
    height: 80vw;
    padding: 2em;
  }
  .nav__links {
    @include resetList();
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    display: flex;
    // display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.1em;
    position: relative;
    // object-position: bottom left;
    @apply sm:flex-row;
    a {
      margin: 0 0.2em;
      color: var(--color-primary);
      text-decoration: none;
      @include underlineAnimate(--color-secondary);
      &:hover {
      }
    }
    a.active {
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;
      text-decoration-color: var(--color-secondary);
      &:after {
        width: 0 !important;
      }
    }
  }
  :has(> .nav__social-links) {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  .nav__social-links {
    display: inline-flex;
    flex-wrap: nowrap;
    @include clickable();
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .icon {
    color: var(--color-primary);
    display: block;
    transform: scale(1.3);
    svg {
      fill: var(--color-primary);
      width: 1.7em;
    }
    margin: auto 8px;
  }
  .cta {
    font-size: 1.3em;
    @apply hidden lg:block;
  }
  .cta-short {
    font-size: 1.3em;
    @apply hidden md:block lg:hidden;
  }
  .toggler {
    z-index: 3;
    @apply sm:hidden;
  }
  .toggler > .icon {
    svg {
      width: 2em;
    }
    margin: 0 0.5em;
  }
}
@media screen and (min-width: $minMediumScreen) {
  .nav__content {
    padding: 0.5em 5%;
    justify-content: space-around;
    .nav__logo {
      width: 6em;
    }
    .links {
      display: flex;
    }

    // .nav__links {
    //   flex-direction: row;
    //   // font-size: 0.9em;
    // }
    // .toggler {
    //   display: none;
    // }
  }
}
@media screen and (min-width: $minLargeScreen) {
  .nav__content {
    .nav__links {
      font-size: 1.2em;
    }

    .nav__logo {
      font-size: 1.3em;
    }
  }
}
.nav__logo {
  img {
    width: inherit;
    height: inherit;
  }
  width: 7em;
  @include centerFlex();
}
.tooltip-links {
  text-align: center;
}
